@{
    ViewData["Title"] = "error";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <h1 class="display-4">Error</h1>
    
</div>
<tr>

            <td><p>&nbsp&nbsp Either Your E-mail ID and or Password was not successfully authenticated.Please Retry or else Register a new email id.</p></td>

        </tr>