@{
    ViewData["Title"] = "FAQ Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
 <title>Online Shopping Store</title>
    
<body>
<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Frequently Asked Questions</h2>
                    <div class="about-content">
                       <H4> What is the status of my order?</H4>

                        Once your order has been successfully placed, we’ll send you an order confirmation email with your order details. 
                        When your order ships, you’ll then receive a shipping confirmation email with tracking information.

Pre-Order
The estimated shipping date for pre-order products can be found in your order confirmation email and invoice.
 This date is an estimate of when your order will be back in stock and shipped to you.

Once your order arrives at our warehouse, our team will work to dispatch it as soon as possible. You’ll then 
receive a shipping email with tracking details.
<H4>How will my order be delivered?</H4>
We deliver your order straight to your address via FedEx & UPS. You’ll receive an email with a tracking number
 when your order ships, so you can easily track your order. Please ensure that you’re home on the day of 
 delivery to receive your order.

<H4>Where do you ship to?</H4>

If you have a special delivery request, such as calling in advance, scheduling delivery dates, or leaving the 
package in a specific location, please reach out to FedEx directly after placing your order.

<H4>When can I expect to receive my order?</H4>
Orders are shipped from our warehouses in Tennessee and Utah. Once you’ve placed your order, it typically 
takes up to 1 working day to be processed and is delivered within 3 working days.* Once your order has shipped
, you’ll receive a tracking number that you can use to follow your package as it makes its way to you.

*Exceptions may apply for particularly distant or inaccessible locations.
**Shop Till You Drop will not be held accountable for any delays in shipping due to customs or carrier delays, 
and unforeseen circumstances outside of our control.

<H4>What do I do if I face an issue with my purchase?</H4>
In the unlikely event that you encounter any damaged, defective or missing parts, please drop us a ticket on 
our Contact Form with photos of the affected area and your order number. Our support specialists will do their 
best to assist you.

<H4>How do I track my order?</H4>
Once your order ships, you'll receive a shipping confirmation email and tracking number, so you can follow 
your package as it makes its way to you. However, tracking information can take up to 24 hours to update, so
 don’t worry if it doesn't show up immediately. We recommend tracking your order and ensuring that you’re home
  on the day of delivery to receive your order.

</div>
<div>

</div>

</div>
<div class="col-md-6 skills-bar">
    <img src="../images/FAQ.gif" class="d-block w-100" alt="..."
                    style="width:100%;height:550px;">

                    <img src="../images/FAQ.gif" class="d-block w-100" alt="..."
                    style="width:100%;height:550px;">
</div>


</section>
</body>