@{
    ViewData["Title"] = "Money Back Guarantee!";
}
<h1>@ViewData["Title"]</h1>
<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    @* <h2>Money Back Guarantee</h2> *@
                    <div class="about-content">
    @* <h4>Money Back Guarantee Policy</h4> *@
    <h3>We will honour a 60-day Money Back Guarantee on all goods Sold from the date of Sale!Provided proof of purchase can be produced.
        Goods Must be returned within 60 days, in the same show room condition as received, in order for the Money Back Guarantee to take affect.</h3>
    
   
    

</div>
    <div>

    </div>

    </div>
    <div class="col-md-6 skills-bar">
        <img src="\images\money.jfif" class="d-block w-100" alt="..."
                        style="width:100%;height:550px;">
    </div> 
    
    
    </section>