@{
    ViewData["Title"] = "Order Page";
}

<body id="checkout-page">
    <div id="site">
	<header id="masthead">
	</header>
	<div id="content">
		<h1>Order Page for @ViewBag.Name</h1>
			<table id="checkout-cart" class="shopping-cart">
			  <thead>
				<tr>
					<th scope="col">Item</th>
					<th scope="col">Qty</th>
					<th scope="col">Price</th>
				</tr>
			  </thead>
			  <tbody>
			  
			  </tbody>
			</table>
		 <div id="pricing">
			
			<p id="shipping">
				<strong>Shipping: <span id="sshipping"></span></strong>
			</p>
			
			<p id="sub-total">
				<strong>Total: <span id="stotal"></span></strong>
			</p>
		 </div>
		 
		 <div id="user-details">
		 	<h2>Your Data</h2>
		 	<div id="user-details-content"></div>
		 </div>
		 
		 
		 
		 
<form id="paypal-form" action="" method="post">
	<input type="hidden" name="cmd" value="_cart" />
	<input type="hidden" name="upload" value="1" />
	<input type="hidden" name="business" value="" />
        
	<input type="hidden" name="currency_code" value="" />
	<input type="submit" id="paypal-btn" class="btn" value="Pay with PayPal" style="background-color: #4182fc;"/>
</form>
		 
		 
	</div>
	
	

</div>

@* <footer id="site-info">
		Copyright &copy; 
	</footer> *@
</div>
</body>