@{
    ViewData["Title"] = "Payment Methods";
}
<h1>@ViewData["Title"]</h1>
<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    @* <h2>Money Back Guarantee</h2> *@
                    <div class="about-content">
    @* <h4>Payment Methods</h4> *@
    <h3>We have a wide range of payment methods available for your convenience.
       We accept Cash, EFT and in-house finance options with a 12, 24, 36, 48 
       or 52 month payment plan. Feel Free to call 0800 00 99 33 for a credit 
       vetting check in order to see what payment plan best suites you!</h3>
    
   
    

</div>
    <div>

    </div>

    </div>
    <div class="col-md-6 skills-bar">
        <img src="\images\payment.jpg" class="d-block w-100" alt="..."
                        style="width:100%;height:550px;">
    </div>
    
    
    </section>