@{
    ViewData["Title"] = "Our Service";
}
<h1>@ViewData["Title"]</h1>
<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    @* <h2>Money Back Guarantee</h2> *@
                    <div class="about-content">
    @* <h4>Money Back Guarantee Policy</h4> *@
    <h3>Welcome to Classy Furn, your number one source for stylish furniture. We're dedicated to giving you the very best of services, with a focus on dependability, customer service and uniqueness. We specialize in upscale furniture for your home.Ranging from Lounge Suites to Outdoor Furniture and a host of other goodies to beautify your home.</h3>
    
   
    

</div>
    <div>

    </div>

    </div>
    <div class="col-md-6 skills-bar">
        <img src="\images\sofa4.jpg" class="d-block w-100" alt="..."
                        style="width:100%;height:550px;">
    </div> 
    
    
    </section>