@{
    ViewData["Title"] = "Shipping Page";
}
<h1>@ViewData["Title"]</h1>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @* <h2>Money Back Guarantee</h2> *@
                <div class="about-content">
                    @* <h4>Money Back Guarantee Policy</h4> *@
                    <h3>We offer free shipping for :
                        <li>6 and less items purchased or more than 60 items purchased in one order</li>
                        <li>7 to 11 items purchased in one order will cost just $10 in delivery fee</li>
                        <li>12 to 30 items purchased in one order will cost just $20 in delivery fee</li>
                        <li>30 to 60 items purchased in one order will cost just $30 in delivery fee</li>
                    </h3>




                </div>
                <div>

                </div>

            </div>
            <div class="col-md-6 skills-bar">
                <img src="\images\ship.jfif" class="d-block w-100" alt="..." style="width:100%;height:550px;">
            </div>


</section>