@{
    ViewData["Title"] = "Terms & Conditions";
}

<div class="text-center">
    <h1 class="display-4">Contact Us</h1>
    
</div>
 <title>Online Shopping Store</title>
    
    <body>
   
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Terms and Conditions</h2>
                    <div class="about-content">
    <h4>Accuracy of Information on the Site</h4>
    We do our best to ensure that information on the site is complete, accurate and current.Despite our efforts, however,information on the site may occasionally be inaccurate,
    incomplete or out of date. All specifications, products,descriptions and prices of products on the site are subject to change descriptions and prices of products on the site are subject to change
    at any time without notice. We make all reasonable efforts to accurately display the attributes of our products,including the applicable colours.However the actual colour you see
    will depend on your computer system, and we cannot guarantee that your computer will accurately display such colours. We do not warrant the accuracy or completeness of the information, content or materials 
    provided through the site.
    
    The inclusion of any product or services on the site at a particular time does not imply or warrant that these products.or services will be available at any time. We reserve the right to discontinue any product at any time.
    
   
    

</div>
    <div>

    </div>

    </div>
    <div class="col-md-6 skills-bar">
        <img src="\images\tandc.jpg" class="d-block w-100" alt="..."
                        style="width:100%;height:550px;">
    </div>
    
    
    </section>
                     
            
     </body>